@mixin spin (
	$duration     : map-get( map-get( $current-theme, transitions ), standard ),
	$slow-duration: map-get( map-get( $current-theme, transitions ),     slow ),
	$fast-duration: map-get( map-get( $current-theme, transitions ),     fast )
) {
	&, &[class^="icon-"]:before, &[class*=" icon-"]:before {
		$transition-duration: $duration;
		&.#{ $class-fast } { $transition-duration: $fast-duration; }
		&.#{ $class-slow } { $transition-duration: $slow-duration; }
		@include my-animation( $name: $class-spin, $timing-function: linear, $iteration-count: infinite, $duration: $transition-duration );
	}
}

@mixin fade-out {
	@include my-animation( $name: $class-fade-out, $duration: $default-animation-duration );

	&.#{ $class-very-slowly } {
		@include my-animation( $name: $class-fade-out, $duration: $default-animation-duration * 10 );
	}
}

@mixin fade-in {
	@include my-animation( $name: $class-fade-in, $duration: $default-animation-duration );

	&.#{ $class-very-slowly } {
		@include my-animation( $name: $class-fade-in, $duration: $default-animation-duration * 10 );
	}
}
